@import 'tailwindcss';

:root {
  --primary: #135959;
  --font-epilogue: var(--font-epilogue), sans-serif;
  --danger: red;
}

@theme inline {
  --color-primary: var(--primary);
  --font-epilogue: var(--font-epilogue);
  --color-danger: var(--danger);
}

body {
  font-family: var(--font-epilogue), sans-serif;
  background: #ffffff;
}
